@import "../../../styles.scss";

:host {
  margin-top: 2rem;
  display: flex;
  flex-direction: column-reverse;
}

.list-item {
  width: 40rem;
  word-wrap: break-word;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px $light-grey;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  input[type="checkbox"] {
    height: 1rem;
    width: 1rem;
  }

  .item-information {
    width: 20rem;

    .description {
      font-size: 1.5rem;
      color: $text;
      font-weight: normal;

      &.strike-through {
        text-decoration: line-through;
      }
    }

    app-badge {
      margin-top: 10px;
    }

    .date {
      color: $text;
    }
  }

  button {
    cursor: pointer;
    padding: 1rem;
    background-color: $white;
    color: $text;
    font-weight: bold;
    font-size: 0.75rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px $light-grey;
    border: none;
    outline: 0;

    fa-icon {
      margin-right: 4px;
    }

    &.delete {
      fa-icon {
        color: $red-pink;
      }

      &:hover {
        box-shadow: 0 2px 4px $red-pink;
      }
    }
  }
}
