<div *ngFor="let todo of todoList | async" class="list-item">
    <input type="checkbox" [checked]="todo.status === 'completed'" (click)="changeTodoStatus(todo)">
    <div class="item-information">
        <input *ngIf="" type="text" value="{{ todo.description }}" placeholder="{{ todo.description }}"/>
        <p *ngIf="" class="description" [ngClass]="{ 'strikethrough' : todo.status === 'completed'}">{{ todo.description }}</p>
        <app-badge [text]="todo.status"></app-badge>

        <p class="date">{{ todo.date }}</p>
    </div>

    <button class="edit-save" (click)="toggleEdit(todo)">
        <fa-icon [icon]="faEdit"></fa-icon>
        Edit
    </button>

    <button class="delete" (click)="deleteTodo(todo)">
        <fa-icon [icon]="faTrash"></fa-icon>
        Delete
    </button>
</div>