@import "../../../styles.scss";

:host {
  margin-top: 2rem;
  display: flex;
  flex-direction: column-reverse;
}

.list-item {
  width: 40rem;
  word-wrap: break-word;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px $light-grey;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  input[type="checkbox"] {
    height: 1rem;
    width: 1rem;
  }

  .item-information {
    width: 20rem;

    input[type="text"] {
      border: none;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: normal;
      outline: none;
      color: $text;
      border-radius: 10px;
      padding: 1rem;
      box-shadow: 0 2px 4px $light-grey;
      font-weight: light;
      font-size: 1rem;
    }

    .description {
      color: $text;
      font-weight: normal;
      font-size: 1.5rem;

      &.strikethrough {
        text-decoration: line-through;
        color: $text-grey;
      }
    }

    .date {
      color: $text;
    }
  }

  button {
    cursor: pointer;
    padding: 1rem;
    background-color: $white;
    color: $text;
    font-weight: bold;
    font-size: 0.75rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px $light-grey;
    border: none;

    fa-icon {
      margin-right: 4px;
    }

    &.edit-save {
      fa-icon {
        color: $blue;
      }

      &:hover {
        box-shadow: 0 2px 4px $blue;
      }
    }

    &.delete {
      fa-icon {
        color: $red-pink;
      }

      &:hover {
        box-shadow: 0 2px 4px $red-pink;
      }
    }
  }
}
