<div *ngFor="let todo of todoList | async">
    <div class="list-item" *ngIf="filter === 'all' || filter === todo.status">
        <input type="checkbox" [checked]="todo.status === 'completed'" (click)="changeTodoStatus(todo)">
        <div class="item-information">
            <p class="description" [ngClass]="{'strike-through': todo.status === 'completed'}">{{todo.description}}</p>
            <app-badge [text]="todo.status"></app-badge>
            <p class="date">{{ todo.date }}</p>
        </div>
    
        <button class="delete" (click)="deleteTodo(todo)">
            <fa-icon [icon]="faTrash" ></fa-icon>
            Delete
        </button>
    </div>
</div>